:root{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    /* CSS HEX */
    --color-principal2: #A3B18A;
    --color-principal: #FFFFFF;
    --color-secundario2: #588157;  
    --color-secundario: #B2C22C;
    --color-boton: #B2C22C;
    
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/* ......................................HEADER.............................. */
/* ......................................HEADER.............................. */
/* ......................................HEADER.............................. */
/* ......................................HEADER.............................. */

body {
    background-color: var(--color-principal);
    min-height: 100vh;
    width: 100%;
}

/* .............................NAVBAR DESPLEGABLE.................. */
.header>img {
    height: 2.5rem;
    margin: 1rem;
}
.header {
    background-color: var(--color-secundario); 
    height: 10vh; 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barra>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header a, h5 {
    text-decoration: none;
    color: #ffffff;
}

.navegacion {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submenu a {
    padding: 8px;
    display: block;
    text-align: center;
}

.enlace {
    overflow: hidden;
}
.enlace:target .submenu {
    position: absolute;
    height: 350px;
    max-height: 350px;
    width: auto;
    top: 3rem;
}

@media (min-width:769px ) {
    .header h5 {
        display: none;
    }
    .navegacion {
        margin: 0 auto;
        max-width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .navegacion a {
        padding: 8px;
        display: block;
        text-align: center;
        justify-content: center;
    }

    .enlace {
        flex: 1;
        position: relative;
        overflow: visible;
    }
    .enlace .submenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .submenu a:hover {
        background-color: rgb(58,58,57);
        border-radius: 1rem;
        color: var(--color-principal);
    }
    .barra{
        height: 35px;
    }
}

.submenu {
    background-color: #4C4A48;
    max-height: 0;
    transition: .8s;
}

.submenu a:hover {
    background-color: rgb(58,58,57);
    border-radius: 1rem;
    border: 3px solid var(--color-boton);
    color: var(--color-boton);
}



/* .........................................MAIN................................. */
/* .........................................MAIN................................. */
/* .........................................MAIN................................. */
/* .........................................MAIN................................. */

main{
    min-height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* BANNER */
.banner {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.foto-banner{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    background-color: blue;
}

.banner h1 {
    font-size: 2rem;
    margin: 0.2rem;
    text-align: center;
}

.banner h2 {
    font-size: 1.7rem;
    margin: 0.2rem;
    text-align: center;
}



/* INFORMACION INDEX */
div.productos{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem;
}

div.productos img {
    height: 35rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}

div.productos p {
    font-size: 1.1rem;
    height: 35rem;
    width: 30rem;
    background-color: #F0F0F0;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.productos.producto-especial p {
    font-size: 1.1rem; /* Tamaño de letra reducido para el producto especial */
    text-align: justify;;
}


/* INFORMACION ABOUT US */
div.fotos1{
    height: 80%;
    width: 100%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
}

div.productos1 p {
    font-size: 2.5rem;
    height: 25rem;
    width: 25rem;
    background-color: var(--color-boton);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div.productos1 img {
    height: 25rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 2rem;
}



/* INFORMACION CONTACT */
div.datos{
    height: 70%;
    width: 100%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.productos4 img {
    height: 25rem;
    width: 35rem;
    object-fit: cover;
    border-radius: 2rem;
    
}

div.productos4 p {
    font-size: 2rem;
    height: 15rem;
    width: 35rem;
    background-color: var(--color-boton);
    border-radius: 2rem;
    text-align: center;
}

div.contactos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactos a{
    font-size: 1.8rem;
    height: 2.3rem;
    width: 20rem;
    text-align: center;
    background-color: var(--color-boton);
    border-radius: 2rem;
    margin: 2rem;
}


/* TABLA */

.service{
    display: flex;
    justify-content: center;
}

table,tr,th,td {
    border: 2px solid black;
    background-color: var(--color-boton);
    text-align: center;
    height: 4rem;
    border-collapse: collapse;
}


/* RATING */

.div-rating {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
}

.cont-principal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-boton);
    width: 90%;
    border-radius: 2rem;
    margin-bottom: 3rem;
    
}

.cont-estrellas{
    width: 40%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.cont-estrellas img{
    width: 100%;
}

div.cont-estrellas ul{
    width: 100%;
    list-style-position: inside;
}

/* HIRE */

div.contratacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:0.3rem;
    background-color: var(--color-secundario);
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
}

.mapas{
    display: flex;
    flex-direction: column;
    width: 90%;
}

textarea{
    resize: none;
    height: 3rem;
}

/* PREGUNTAS FRECUENTES FAQ */
div.datos-faq{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    width: 80%;
    background-color: #F0F0F0;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

/* SECCION TUTORIALES */

.tutoriales h2{
    margin-top:30px;
    margin-bottom:30px;
    text-align: center;
    color: #B2C22C;
}

.contenedor-tutorial{
    display: flex;      
    margin: 0 auto; 
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.subtitulo-tuto{
    margin-bottom:20px;
    color: #666666;
}

.fondo-gris{
    background-color: #F0F0F0;
}

/*............................. FOOTER.............................. */
/*............................. FOOTER.............................. */
/*............................. FOOTER.............................. */
/*............................. FOOTER.............................. */


footer{
    background-color: var(--color-secundario);
    height: 18vh;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilos para el footer */

.site-footer {
    background-color: #A3B18A;
    color: var(--color-principal);
    padding: 20px;
    text-align: center;
    width: 100%; 
    box-sizing: border-box; /* Se incluye el padding en el ancho total */
 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left, .footer-right, .footer-social {
    flex: 1;
    text-align: left;
    margin: 10px;
}

/* Tamaño de la fuente para contenido del footer */
.site-footer h3,
.site-footer h4,
.site-footer p,
.footer-social a {
    font-size: 0.9rem;
}

.footer-left h2 {
    font-size: 1.2rem; /* Se ajusta el tamaño de la fuente original */
}

.footer-right h3, .footer-social h3 {
    font-size: 1.1rem; /* Se ajusta aquí el tamaño de la fuente original */
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social li {
    display: inline;
    margin-right: 10px;
}

.footer-social a {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}

.footer-social a:hover {
    color: var(--color-boton);
}


/* ............................MOBILE............................... */
/* ............................MOBILE............................... */
/* ............................MOBILE............................... */

@media only screen and (min-width: 320px) and (max-width: 767px){
    .banner>h2{
        font-size: 1.5rem;
    }

    /* INDEX */

    div.productos{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 90%;
        
    }

    div.productos p{
        font-size: 0.9rem;
        width: 90%;
        height: 40vh;
    }

    div.productos img{
        width: 90%;
    }

    /* ABOUT US */

    div.fotos1{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.productos1 p{
        font-size: 0.9rem;
        width: 90%;
        height: 40vh;
    }

    /* CONTACT US */

    div.datos{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.8rem;
        width: 70%;
    }

    div.contactos{
        display: flex;
        flex-direction: column;
    }
    div.contactos a{
        font-size: 0.9rem;
        width: 70vw;
    }

    div.datos img{
        width: 80vw;
    }

    div.datos p{
        font-size: 0.9rem;
        width: 80vw;
    }


    /* RATING */

    .sec-rating {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .cont-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--color-boton);
        width: 90%;
        border-radius: 2rem;
        margin-bottom: 3rem;
        object-fit: cover;

    }

    .cont-principal img{
        width: 100%;
    }

    div.cont-estrellas{
        width: 90%;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* TABLA */
    div.service{
        font-size: 0.7rem;
    }

    /* HIRE */
    div.contratacion{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    iframe{
        width: 100%;
    }
}


/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .banner>h2{
        font-size: 1.5rem;
    }

    div.productos{
        flex-direction: column-reverse;
        
    }

    div.productos p{
        font-size: 1.6rem;
        max-width: 70%;
        height: 90%;
    }

    div.productos img{
        max-width: 70%;
    }

    div.productos1 p{
        font-size: 1.6rem;
        max-width: 70%;
        height: 90%;
    }

    /* CONTACT US */
    div.contactos{
        display: flex;
        flex-direction: column;
    }

     /* RATING */

     .sec-rating {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .cont-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--color-boton);
        width: 90%;
        border-radius: 2rem;
        margin-bottom: 3rem;

    }

    .cont-estrellas{
        width: 90%;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* HIRE */
    div.contratacion{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    iframe{
        width: 100%;
    }
}
/* Dentro del archivo ubicaciones */
.contenido-texto {
    font-size: 0.9rem; /* Se ajusta el tamaño de letra */
    margin: 20px;
    text-align: justify;
    }
    

    .contenido-texto-uno {
        display: flex;
        
        }

       .pf-1{
        font-size: 0.9rem;
        margin-right: 40px;
        text-align: justify;
        margin-bottom: 20px;
       }

       .pf-2{
        font-size: 0.9rem;
        text-align: justify;
        margin-right: 35px;
        margin-bottom: 20px;

       }
.registro-titulo h2 {
        font-size: 18px;
    }
    

/* Sección contacto */

    .registro-form {
        max-width: 400px;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #F0F0F0;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .registro-form label {
        display: block;
        margin-top: 10px;
        font-size: 14px; /* Tamaño de letra para las etiquetas */
    }
    
    .registro-form input,
    .registro-form select,
    .registro-form textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    
   
    .btn {
        background-color: #588157;
        color: #F0F0F0;
        border: none;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .btn:hover {
        background-color: #076a48;
    }
  
    
    .formulario {
        flex: 1;
        padding: 20px;
        box-sizing: border-box; /* El padding no afecta el ancho total */
        margin-bottom: 10px;
    }
    
    .informacion-contacto {
        flex: 1;
        padding: 50px;
        box-sizing: border-box; /* El padding no afecte el ancho total */
        text-align: justify;
    }
    .list-unstyled{
        font-size: 12px;
    }
   .lead{
    font-size: 18px;
}
.list-unstyled{
    font-size: 16px
}

.container-con {
    max-width: 960px;
    margin: 0 auto;
}

.flex-container-con {
    display: flex;
}

/* .........................................Nosotros................................. */

/*Galeria de Imagenes*/

.contenedor {
    padding: 30px 20px;
    width: 87%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
  }

  /* Imagenes del Porfolio*/
#portafolio img { 
    width: 100%;
    height: 100%; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  #img-activa {
    width: 100%;
    height: auto;
  }
  
  /*Contenedor Principal del Lightbox*/
  
  #contenedor-principal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  /*Contenedor interno del Lightbox*/
  
  #contenedor-interno {
    border: 2px #f3f3f3 solid;
    padding: 2px;
    background: #3f3f3f;
    max-width: 500px;
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
  }
/* Galeria */

#portafolio{ 
    background: rgba(204, 204, 204, 0.918);
  }
  
  .galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  }
  
  .imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  /*Botones*/
  
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
  }
  
  #btn-cierra {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
  }
  
  #btn-retrocede {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3rem;
  }
  
  #btn-adelanta {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
  }

  /* About us */

  main .sobre-nosotros{
    padding: 30px 0 60px 0;
  }
  .contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
  }
  
  .imagen-about-us{
    width: 48%;
  }
  
 .sobre-nosotros .contenido-textos{
    width: 48%;
  }
  
  .contenido-textos h3{
    margin-bottom: 15px;
  }
